<!DOCTYPE html>

<head>
  <title>VarunChallenge</title>
  <link href = "styles.css" rel = "stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="controller.js"></script>
</head>

<body>

  <div ng-app="CodingChallenge">
    <div ng-controller="CodingChallengeController">
<div class = "innerBox">

  <div class = "centered">
    <br>
		<%= image_tag("logo.png") %>
	</div>

  <div class = "centered" ng-show = "show==1">
    <button class = "start apply" type="submit" value="submit" ng-click="begin()">Apply Now</button>
  </div>

  <div class = "signup centered" ng-show = "show==2">
      <form action="background_check/new" method="GET">
        <br>

        <input type = "text" name = "firstName" id = "firstName" placeholder = "First Name">
        <br>
        <input type = "text" name = "lastName" id = "lastName" placeholder = "Last Name">
        <br>
        <select name="region" id = "region">
          <option disabled selected value> -- select a region -- </option>
          <option value="SF">SF</option>
          <option value="Chicago">Chicago</option>
          <option value="Boston">Boston</option>
          <option value="NYC">NYC</option>
          <option value="Toronto">Toronto</option>
          <option value="Berlin">Berlin</option>
          <option value="Delhi">Delhi</option>
        </select>
      <br>
        <select name="phone" id = "phone">
          <option disabled selected value> -- select a phone -- </option>
          <option value="iPhone 6/6 Plus">iPhone 6/6 Plus</option>
          <option value="iPhone 6s/6s Plus">iPhone 6s/6s Plus</option>
          <option value="iPhone 5/5S">iPhone 5/5S</option>
          <option value="iPhone 4/4S">iPhone 4/4S</option>
          <option value="iPhone 3G/3GS">iPhone 3G/3GS</option>
          <option value="Android 4.0+">Android 4.0+</option>
          <option value="Android 2.2/2.3">Android 2.2/2.3</option>
          <option value="Windows Phone">Windows Phone</option>
          <option value="Blackberry">Blackberry</option>
          <option value="Other">Other</option>
        </select>
      <br>
        <input type = "text" name = "phoneNumber" id = "phoneNumber" placeholder = "Phone Number">
        <br>
				<button type="submit" value="submit">Review</button>
				</form>
        <br>
        <br>
  </div>
  </div>
</div>
</div>
</body>

</html>

